/* WordViewer CSS */
a.WACImageMapAnchor
{
	border: none;
}

img.WACImageMapImage
{
	position: absolute;
	border: none;
}

.WACSilverlight
{
	position: fixed;
}

.WACCopyFrame
{
	position: absolute;
	z-index: -1;
	max-height: 0px;
	max-width: 0px;
}

.WACPrintFrame
{
	position: absolute;
	z-index: -1;
	max-height: 0px;
	max-width: 0px;
}

.WACAccessibilityLinkShown
{
	text-decoration: none;
	top: 0px;
	left: 0px;
	width: auto;
	height: auto;
	border: 1px solid black;
	color: black;
	background-color: white;
	padding: 2px 4px;
	position: absolute;
	z-index: 100;
	
}

.WACAccessibilityLinkHidden
{
	text-decoration: none;
	top: -2000px;
	left: 1px;
	width: auto;
	height: auto;
	border: 1px solid black;
	color: black;
	background-color: white;
	padding: 2px 4px;
	position: absolute;
	z-index: -10000;
}

div.WACFrameWord
{
	width: 100%;
	min-width: 640px;
	height: auto;
	position: absolute;
}

div.WACContainer
{
	background: top left repeat-x #babec2;
	background-attachment: fixed;
	overflow: auto;
	position: absolute;
	height: 100%;
}

/* O14 #531944: Macs render our background gradient PNG file darker than Windows, so the gradient
   color we use at the bottom of the PNG has to be slightly different to more closely match the
   visual rendering of our image */
.Mac div.WACContainer
{
	background: top left repeat-x #aaaeb2;
}

div.WACAppBase
{
	position: absolute;
}

div.WACSearchPane
{
	background-color: #E9edf1;
	border: 1px solid #a2a6ab;
	width: 200px;
	overflow: hidden;
	position: absolute;
	height: 100%;
}

div.WACScroller
{
	width: 100%;
	height: 100%;
	background-color: transparent;
}

div.WACStatus
{
	height: 90%;
	width: 100%;
	position: absolute;
	overflow: auto;
	background-color: transparent;
}

img.WACPageImg
{
	-ms-interpolation-mode: bicubic;
}

div.WACPageWaitImg
{
	position: absolute;
	width: 100px;
	display: block;
	background-color: #FFFFFF;
}

div.WACSelection
{
	position: absolute;
	background-color: #5555ff;
	padding: 1px;
	z-index: 50;
	visibility: visible;
	-ms-filter: "alpha(opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
	top: -100px;
	left: -100px;
	width: 10px;
	height: 10px; 
	overflow: hidden;
	cursor: text;
}

div.WACLink
{
	position: absolute;
	z-index:300;
	top: -100px;
	left: -100px;
	width: 10px;
	height: 10px; 
	overflow: hidden;
}

div.WACHighlight
{
	position: absolute;
	visibility: visible;
	top: -100px;
	left: -100px;
	width: 10px;
	height: 10px;
	overflow: hidden;
	background-color: #FFF000;
	opacity: 0.40;
	-ms-filter: "alpha(Opacity=40)";
	filter: alpha(opacity=40);
	border: 0px solid transparent;
	cursor: text;
}

div.WACActiveHighlight
{
	background-color: #5555FF;
	opacity: .40;
	-ms-filter: "alpha(Opacity=40)";
	filter: alpha(opacity=40);
}

div.WACSearchResultsPane
{
	cursor: default;
	overflow: auto;
	position: absolute;
	overflow: scroll;
	width: 180px;
	background-color: #ffffff;
	border: 1px solid #a2a6ab;
	padding: 3px;
	margin: 5px;
}

div.WACSearchResultsPaneEmpty
{
	cursor: default;
	width: 180px;
	padding: 3px;
	margin: 5px;
}

div.WACSearchHeader
{
	cursor: default;
	background-color: #ced4db;
	border-bottom: 1px solid #a2a6ab;
	height: 19px;
}

span.WACSearchHeaderText
{
	margin: 2px;
}

span.WACClosePaneSpan
{
	margin: 2px;
}

div.WACSearchBoxDiv
{
	margin-top: 2px;
	margin-bottom: 3px;
	height: 20px;
	background-color: #ffffff;
	border: 1px solid #a2a6ab;
}

span.WACSearchButton
{
	margin: 2px;
}

span.WACSearchProgressSpan
{
	width: 142px;
	color: #444444;
	display: inline-block;
}

div.WACSearchResultsScroller
{
	padding: 0px;
}

.WACLeftNavigationButton
{
	margin-top: 9px;
}

.WACRightNavigationButton
{
	margin-top: 9px;
}

div#WACResultNavigationDiv
{
	width: 48px;
	position: relative;
	margin-top: 6px;
}

span.WACResultNavigation
{
	position: absolute;
}

.WACResultsInfo
{
	display: block;
	color: #444444;
	vertical-align: middle;
}

.FloatLeft
{
	float: left;
}

.FloatRight
{
	float: right;
}

div.WACSearchInfo
{
	vertical-align: middle;
}

div.WACSearchButtonFrame
{
	width: 19px;
	height: 20px;
}

div.WACSearchButtonFrameHover
{
	background-color: #fef8c0 !important;
	border-left: 1px solid #a2a6ab;
}

div.WACSearchButtonFrameHoverRTL
{
	background-color: #fef8c0 !important;
	border-right: 1px solid #a2a6ab;
}

div.WACSearchButtonFrameSearchActive
{
	background-color: #f0f2f5;
	border-left: 1px solid #a2a6ab;
}

div.WACSearchButtonFrameSearchActiveRTL
{
	background-color: #f0f2f5;
	border-right: 1px solid #a2a6ab;
}

span.WACPrevNavigationButton
{
	margin-left: 2px;
	margin-right: 2px;
	margin-top: 2px;
}

span.WACNextNavigationButton
{
	margin-left: 3px;
	margin-right: 3px;
	margin-top: 2px;
}

div.WACNavigationButtonFrame
{
	border: 1px solid transparent;
	background-color: transparent;
	width: 21px;
	height: 20px;
}

div.WACNavigationButtonFrameHover
{
	border: 1px solid #F1C43F;
	background-color: #FDEEB3;
}

input.WACSearchBox
{
	background-color: #FFFFFF;
	border: 0px;
	margin: 3px;
}

input.WACSearchBoxFocus
{
	background-color: #ffffff !important;
}

input.WACSearchBoxQuery
{
	color: #000000 !important;
}


input.WACSearchBox:hover
{
	background-color: #ffffff;
}

div.WACSearchControls
{
	padding: 5px;
	cursor: default;
	height: 62px;
}

div.WACSearchResult
{
	background-color: #ffffff;
	border: 1px solid #D4d6d9;
	padding: 3px;
	white-space: pre-wrap;
	overflow: hidden;
	color: #444444;
}

div.WACResultOutline
{
	padding: 4px;
	cursor: pointer;
	margin-bottom: 4px;
	background-color: Transparent;
	border: solid 1px Transparent;
}

div.WACResultOutline:active
{
	border: solid 1px #c67400;
	background-color: #fcce2f;
}

div.WACResultOutline:hover
{
	border: solid 1px #f6d652;
	background-color: #fef8c9;
}

div.WACSelectedResult
{
	border: solid 1px #eab525;
	background-color: #fee38b;
}

div.WACSelectedResult:active
{
	border: solid 1px #d97b00;
	background-color: #fed254;
}

div.WACSelectedResult:hover
{
	border: solid 1px #d97b00;
	background-color: #fed254;
}

span.WACActiveContext
{
	background-color: #BBBBFF !important;
}

span.WACContext
{
	background-color: #FFFB9C;
}

/* Note: We need to set a background color on this div in order to get mouse events */
div.WACSurface
{
	position: fixed;
	z-index: 200;	
	background-color: #ffffff;
	-ms-filter: "alpha(opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
}

.WACRibbonPanel
{
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden; /*Disable scrollbars. Set to "scroll" to enable*/
	height:44px;
	background:#fff;
}


.ms-hidden
{
	position: absolute;
	left: 0px;
	top: -500px;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

div.WACPageBorder
{
	position: absolute;
	background-color: #FFFFFF;
	border: solid 1px #93969d;
}

.FShadowTop, .FShadowRight, .FShadowBottom, .FShadowLeft
{
	position: absolute;
	-ms-filter: "alpha(opacity=10)";
	filter: alpha(opacity=10);
	opacity: .10;
}
.FShadowTop2, .FShadowRight2, .FShadowBottom2, .FShadowLeft2
{
	position: absolute;
	-ms-filter: "alpha(opacity=40)";
	filter: alpha(opacity=40);
	opacity: .40;
}

.FShadowTopRight, .FShadowBottomRight, .FShadowBottomLeft, .FShadowTopLeft
{
	position: absolute;
	-ms-filter: "alpha(opacity=5)";
	filter: alpha(opacity=5);
	opacity: .05;
}

.FShadowTopRight2, .FShadowBottomRight2, .FShadowBottomLeft2, .FShadowTopLeft2
{
	position: absolute;
	-ms-filter: "alpha(opacity=15)";
	filter: alpha(opacity=15);
	opacity: .15;
}

.FShadowTop, .FShadowRight, .FShadowBottom, .FShadowLeft
{
	background-color: #93969d;
}
.FShadowTop2, .FShadowRight2, .FShadowBottom2, .FShadowLeft2
{
	background-color: #93969d;
}

.FShadowTopRight, .FShadowBottomRight, .FShadowBottomLeft, .FShadowTopLeft
{
	background-color: #93969d;
}

.FShadowTopRight2, .FShadowBottomRight2, .FShadowBottomLeft2, .FShadowTopLeft2
{
	background-color: #93969d;
}

.FShadowTop, .FShadowBottom
{
	width: 100%;
	height: 4px;
}
.FShadowTop2, .FShadowBottom2
{
	width: 100%;
	height: 2px;
}
.FShadowLeft, .FShadowRight
{
	height: 100%;
	width: 4px;
}
.FShadowLeft2, .FShadowRight2
{
	height: 100%;
	width: 2px;
}
.FShadowTopRight, .FShadowBottomRight, .FShadowBottomLeft, .FShadowTopLeft
{
	height: 4px;
	width: 4px;
}
FShadowTopRight2, .FShadowBottomRight2, .FShadowBottomLeft2, .FShadowTopLeft2
{
	height: 2px;
	width: 2px;
}
.FShadowTop
{
	top: -4px;
}
.FShadowTop2
{
	top: -2px;
}
.FShadowRight
{
	right: -4px;
}
.FShadowRight2
{
	right: -2px;
}
.FShadowBottom
{
	bottom: -4px;
}
.FShadowBottom2
{
	bottom: -2px;
}
.FShadowLeft
{
	left: -4px;
}
.FShadowLeft2
{
	left: -2px;
}
.FShadowTopRight
{
	top: -4px;
	right: -4px;
}
.FShadowBottomRight
{
	bottom: -4px;
	right: -4px;
}
.FShadowBottomLeft
{
	bottom: -4px;
	left: -4px;
}
.FShadowTopLeft
{
	top: -4px;
	left: -4px;
}
.FShadowTopRight2
{
	top: 2px;
	right: 2px;
}
.FShadowBottomRight2
{
	bottom: -2px;
	right: -2px;
}
.FShadowBottomLeft2
{
	bottom: -2px;
	left: -2px;
}
.FShadowTopLeft2
{
	top: -2px;
	left: -2px;
}

.WACErrorId
{
	font-size: 85%;
}

.GettingStartedText
{
	font-size: 125%;
}

.GettingStartedLink
{
	float: right;
}